header {
  background-color: $bg_first;

  div#header-contact {
    height: 50px;
    width: 80%;
    margin: auto;

    div.flex-header-contact {
      display: flex;
      justify-content: flex-end;

      padding-top: 10px;

      & > i {
        color: blue;
        padding-right: 15px;
        cursor: pointer;
      }

      & a {
        color: grey;
        text-decoration: none;
        font-size: 12px;
      }

      & a:hover {
        color: #fff;
        text-decoration: underline;
      }
    }
  }

  div.navbar-menu {

    div.logo {
      margin-right: 30px;
    }

    width: 70%;
    height: 50px;
    margin: auto;

    display: flex;

    & > ul  {
      display: flex;
      width: 100%;

      & > li {
        width: calc(100% / 8);
        list-style: none;
        height: 100%;
        line-height: 50px;
        text-align: center;

        &:hover {
          background-color: #fff;
          color: $bg_first;
        }

        &:hover > a {
          color: $bg_first;
        }

        & > a {
          color: #fff;
          text-decoration: none;
        }



      }
      height: 100%;
      cursor: pointer;



    }

    li.active_dropdown {
      position: relative;

      &:hover ul.dropdown {
        display: block;
      }
    }

    ul.dropdown {
      background-color: #fff;
      display: none;
      width: 250px;
      position: absolute;
      top: 50px;
      left: 0;
      z-index: 9;

      & > li {
        list-style: none;
        text-align: left;
        padding-left: 20px;

        &:hover {
          background-color: rgba(0, 0, 0, 0.2);
        }


        & > a {
          color: $bg_first;
          text-decoration: none;
        }
      }
    }

  }





}
